/* Reset styles */
html,body, body * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:inherit;
    background-color:inherit;
    /* border:2px solid orange; */
 }

 body {
    /* background-image: url("https://www.mycreativeshop.com/learn/wp-content/uploads/2019/10/technology-halftone-modern-background.jpg"); */
    position: fixed;
    background-size:  cover;
    background-position:center center;
    
  }
  .container {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 100px;
  }


  .login-register-wrapper {
      height: 560px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      padding:0 2em;
      border-radius: 5px;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
      overflow: hidden; 
      color:#ffffff;
      background: linear-gradient(180deg, rgba(19,38,79,1) 0%, rgba(22,147,198,1) 52%, rgba(255,255,255,0) 82%);
  }
  
  /* Nav buttons */
  .nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 3em;
  }
  button {
      font-size: 1.5em;
      margin-right:1em;
      border:0px;
      cursor: pointer;
   
  }
  button:focus {
      outline: 0px;
  }
  button.active {
      padding-bottom: 10px;
      border-bottom: solid 2px #1059FF;
  } 
  
   /* footer: forgot section */
   .forgot-panel {
    position: relative;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    border-top: solid 1px rgba(255,255,255,.3);    
}

    /* form styling */
    .form-group input {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(255,255,255,.5);
    }
    .form-group label {
      text-transform: uppercase;
    }
    input.submit {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        color: rgba(255,255,255, 1);
        padding: 8px 0px;
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 20px;
        margin-top: 23px;
        background-color: rgba(16,89,255, 1);
    
    }

    /*Form positioning and animation */

    div#registerform {
        left:500px;
        top:-230px;
        position:relative;
    }

    div#loginform {
        left:0px;
        top:0px;
        position:relative;
    }

    .forgot-panel {
        margin-top:-300px;
        color:gray;
    }

    #loginBtn, #registerBtn {
        transition: all .5s ease;

    }
    
    #login-errormsg {
        box-sizing: border-box;
        color:#a94442;
        background-color:#f2dede;
        border-color:#ebccd1
    }
    
    .has-error .help-block{
        color:red;
    }
    
    .has-error .form-control {
        border-color:red;
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px red
    }
    