.resize {
    width: 30px;
    height: 30px;
}

.navbar-btn {
    background-color: #98FB98;
}

.sf-heading {
    padding-top: 8px;
    padding-left: 10px;
    font-size: 25px;
    font-family: "Bradley Hand";
}

.navbar-default {
    background-color: whitesmoke;
}

.news-link {
    padding-right: 20px;
}