.resize {
    width: 30px;
    height: 30px;
}

.navbar-btn {
    background-color: #98FB98;
}

.sf-heading {
    padding-top: 4px;
    padding-left: 1px;
    font-size: 25px;
    font-family: "Bradley Hand";
}

.navbar {
    background-color: whitesmoke;
}

.full-nav {
    padding-bottom: 20px;
}

.news-link {
    padding-right: 20px;
}

.nav-item a{
    color: grey;
    text-decoration: none;
}

.justify-content-end {
    padding-left: 770px;
}

a:hover, a:active, a:focus {
    color: black;
  }